# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=barbershop
DB_USER=proy3
DB_PASSWORD=secret
DATABASE_URL=postgresql://proy3:secret@db:5432/barbershop
SESSION_SECRET=super_secret_session
API_PORT=3000
VITE_API_URL=http://localhost:3000
